.h1 {
    font-size: 70px; 
    font-family: Arial;   
}
    
.jumbotron {
     padding-bottom: 90px;
     padding-left: 10px;
}
     
.cardOne-footer {
        padding-bottom: 40px;
}
    
.cardTwo-footer {
    padding-bottom: 40px;
}